<div class="posts-container">
  <ol>
    <% @posts.each do |post| %>
      <li>&#9650;
        <%= link_to(post) do %>
          <%= post.title %>
        <% end %>
        &nbsp;<%= link_to '(Link)', post.url %><br>
        <span>by <%= post.user.username %></span>
      </li>
    <% end %>
  </ol>
</div>
