<h1>Recent posts:</h1>
<p>
  <%= link_to 'View categories', categories_path %>
</p>
<p>
  <%= link_to 'New article', new_article_path %>
</p>

<table>
  <tr>
    <th>Subject</th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.subject %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
    </tr>
  <% end %>
</table>
