<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
<p>
  <strong>url (probably empty):</strong>
  <%= @post.url %>
</p>
<p>
  <strong>Text (probably not empty):</strong>
  <%= @post.text %>
</p>
